@import "../../../../../style/input";
@import "../../../../../style/general";
@import "src/style/btn";
.inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}

.title {
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  margin-bottom: 30px;
}

.input {
  @extend %input;
}

.columns{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column{
  display: flex;
  flex-direction: column;
  &:last-child {
    margin-right: 200px;
  }
}

.valid {
  margin-top: 5px;
  color: red;
  font-size: 14px;
}
.btn{
  @extend %btn;
  width: 246px;
  height: 68px;
}