.item {
  display: flex;
  height: 230px;
  align-items: center;
  justify-content: space-between;
}

.titleAndPhoto {
  display: flex;
  align-items: center;
}
.close {
  cursor: pointer;
}
.icon{
  margin: 0 30px;
  height: 200px;
}
.amount{

}

.price{
  margin-right: 50px;
}
.totalPrice{
  margin-right: 60px;
}