@import '../../../style/variables';
@import '../../../style/btn';
@import '../../../style/ref';
@import '../../../style/general';

.title {
  font-size: 40px;
  font-weight: 500;
  line-height: 110%;
}

.slider {
  &_inner {
    display: flex;
  }
  &_right {
width: 46%;
background-color: $ligth-grey;
    &_inner {
      padding-top: 50px;
      position: relative;

    }
    &_header1{
      position: absolute;
      right: 550px;
      bottom: -20px;
    }
    &_header2{
      position: relative;
      padding-left: 50px;
      padding-bottom: 50px;
      padding-top: 50px;
    }
    &_header3{
      position: absolute;
      right: 100px;
      top: 250px

    }

  }
  &_left {
    padding-left: 245px;
    display: flex;
    flex-direction: column;
    margin-top:190px;
    width: 63%;
    &_subtitle {
      margin-top: 45px ;
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      text-align: right;
      padding-right: 245px;
    }
    &_btn {
      display: flex;
   margin-top: 45px;
      margin-left: 200px;
    }
  }
}

.section {
  &_in {
    margin-top: 100px;
  }
}
.arrow {
  padding: 20px 27px;
  height: 70px;
  background: rgba(110, 156, 159, 0.1);

  &_down {
    color: $grey-blue;
  }


}
.btn {
  @extend %btn;
}


.btn_2 {
  margin-top: 50px;
  @extend %btn_2;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0)
}

.important{
  margin-top: 100px;
  &_title {
    font-size: 40px;
    font-weight: 500;
    line-height: 110%;
  }
  &_service {
    display: flex;
  }
  &_item {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-right: 70px;
    &_img {
    max-height: 60px;
    max-width: 60px;
    }
    &_title {
      margin-top: 35px;
      font-weight: 500;
      font-size: 25px;
      line-height: 140%;
    }
    &_text {
      margin-top: 20px;
      font-weight: 500;
      font-size: 17px;
      line-height: 140%;
    }
  }
}
.dreamTeam {
  margin-top: 100px;
  &_img {
    width: 60%;
  }
 &_title{
   font-weight: 500;
   font-size: 40px;
   line-height: 110%;
 }
  &_inner {
    margin-top: 100px;
    display: flex;
  }
}
.description {
  width: 40%;
  margin: 120px 0 90px 120px;

  &_title {
    font-weight: 500;
    font-size: 25px;
  }

  &_text {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 17px;
  }

  &_more {
    color: $grey-blue;
    text-decoration: none;
  }
}