@import '/src/style/variables';
@import '/src/style/general';

.header {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  &_inner {
    display: flex;
  }
  &_left {
    display: flex;
  }
  .logo{
    color: $black;
    font-weight: 500;
    font-size: 16px;
    margin-left: 15px;
  }
  .nav {
    &_link{
      text-decoration: $white;
      margin-left: 20px;
      margin-right: 20px;

      &:hover {
        color: $grey-blue;
      }
    }

  }
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}

.phone{
  display: flex;
  &_number {
    margin-left: 15px ;
  }
}
