@import '../../../style/variables';
@import '../../../style/general';

.head {
  background-color: $white;
  height: 90px;
}
.header {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
}

.phone{
  display: flex;
  width: 350px;
}
