@import "src/style/variables";

.basket {
  margin-left: 80px;

}
.img {
  margin-right: 10px;
}
.circle {
  width: 17px;
  height: 17px;
  background-color: $grey;
  border-radius: 50%;
  transform: translate(10px, -10px);
  text-align: center;
  color: $white;
  font-weight: bold;
  font-size: 13px;
}