@import '../../../../../style/variables';
@import '../../../../../style/btn';
@import '../../../../../style/input';
.promo {
  display: flex;
}

.enterPromo{
@extend %input;
}

.usePromo{
  @extend  %btn_2;
  font-size: 17px;
}

.updateBasket{
  @extend %btn_2;
  margin-left: auto;
  font-size: 17px;
  width: 250px;
}
